

.keyShift, .keyBackspace,.keySpacebar,.keyTab,.keyCaps, .key⏎ {
  flex-basis: 100%;
  //background: #ffffff !important;
  //color: white;
}


.hands{
  display: flex;
  position: absolute;
  left: -158px;
  top: -20%;
  img{
    height: auto;
    max-width: none;
    width: 100%;
  }
  .left-img, .right-img{
    //position: absolute;
    //top: 0;
  }
  .left-img{top: -16px; left: -20px}
  .right-img{
    position: absolute;
    left: 456px;
    top: 36px;
    
  }
}