

.speed-title{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.btn{
  user-select: none;
  display: block;
  margin-left: auto;
  background: #ff74bf;
  border: 2px solid #efbbd7;
  color: white;
  padding: 4px 5px;
  border-radius: 4px;
  margin-top: 10px;
  outline: none;
  &:hover{
    cursor: pointer;
    background: deeppink;
    transition: all .2s ease;
  }
  &:active{
    background: #ff74bf;
  }
}
.input-wrapper{
  overflow: hidden;
  min-height: 100px;

  textarea{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    min-height: 100px;
  }
}

.modal{
  width: 100%;
  opacity: 0;
  background: #474bff12;
  transform: translateY(-100vh);
  transition: all .5s ease;
  //border-radius: 5px;
  position: fixed;
  border-radius: 10px;
  border: 3px solid rgba(253, 253, 253, 0.29);
  &-title{
    text-align: center;
  }
}
.show-modal{
  min-height: 100px;
  transform: translateY(50%);
  opacity: 1;
  position: relative;
  z-index: 100;
}

.justify-space-between{
  justify-content: space-between;
  .btn{
    margin-left: 0;}
}
.row{
  display: flex;
}


input{
  background: red;
  pointer-events: inherit;
  color: white;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;

  margin: 0;
  padding: 10px !important;
}

.glass-card{
  background: rgba(255, 255, 255, 0.21);
  border-radius: 7px;
  width: max-content;
  padding: 5px 20px;
  margin: 0 auto 10px;
  border: 2px solid rgba(253, 253, 253, 0.29);
  backdrop-filter: blur(40px);
}

.error_glass{
  background: #ff3f3f36;
  border: 2px solid rgba(248, 148, 148, 0.7);
  color: #ffffff;
}